@page "/tab-vertical"
@using System.Net.Http
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject NotificationService NotificationService

@using Microsoft.EntityFrameworkCore



<RadzenButton Click="@(args => SendDataAsync())" Text="Lưu Dữ Liệu" ButtonStyle="ButtonStyle.Primary" Style="margin-bottom:20px" />

<RadzenTabs @bind-SelectedIndex=@selectedIndex TabPosition="@tabPosition" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="1.Thông tin cá nhân và thời gian khám:" Class="custom-tabs-item">
            <RadzenLabel Text="Ngày khám " Component="DatePickerHourFormat" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenDatePicker @bind-Value=@OBS_0337 ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" Name="DatePickerHourFormat" />

            <br />
            <br />
            <br />
            <RadzenLabel Text="Select Time, bound to TimeOnly" Component="DatePickerTimeOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenDatePicker @bind-Value="@OBS_0400" ShowSeconds="true" DateFormat="HH:mm" Name="DatePickerTimeOnlyType" />

            <br />
            <br />
            <RadzenLabel Text="0003" Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenRadioButtonList @bind-Value=@OBS_0003 TValue="string" class="mb-5">
                <Items>
                    <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                    <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                </Items>
            </RadzenRadioButtonList>
            <br />
            <br />
            <RadzenLabel Text="0004" Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenRadioButtonList @bind-Value=@OBS_0004 TValue="string" class="mb-5">
                <Items>
                    <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                    <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                </Items>
            </RadzenRadioButtonList>

        </RadzenTabsItem>


        <RadzenTabsItem Text="2.Thông tin về thai kỳ:" Class="custom-tabs-item">
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Ngày đầu kì kinh cuối " Component="DatePickerDateOnlyType"
                                 Style="font-size: smaller; margin-right: 8px; vertical-align: middle;" />
                    <RadzenDatePicker @bind-Value="@OBS_0340" DateFormat="MM/dd/yyyy"
                                      Name="DatePickerDateOnlyType"
                                      Style="font-size: smaller;" />

                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Tuổi thai " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenNumeric @bind-Value=@OBS_0341 InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
                </div>
            </div>
            <br />
            <br />
            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Ngày dự kiến sinh " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenDatePicker @bind-Value="@OBS_0342" DateFormat="MM/dd/yyyy" Name="DatePickerDateOnlyType" />

                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Số lần tái khám " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenNumeric @bind-Value=@OBS_0399 InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
                </div>
            </div>
        </RadzenTabsItem>


        <RadzenTabsItem Text="3.Tiền sử y tế và tiền sử sản khoa:" Class="custom-tabs-item">
            <div style="display: flex; align-items: baseline;">

                <div style="flex: 1;">
                    <RadzenLabel Text="Phẩu thuật phụ khoa " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0357 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Khối Buồn trứng " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0358 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>


            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Khối u tử cung " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0359 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Dị dạng sinh dục" Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0360 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Tầng sinh môn " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0361 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>

            <br />
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Bệnh khoa đã mắc và điều trị</RadzenText>
            <RadzenTextArea @bind-Value="OBS_0363" class="w-30" aria-label="TextArea" Style="width: 100%;" />


            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Sa tạng chậu " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0362 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Đa thai " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0364 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Dị dạng " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0365 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>

            <br />
            <RadzenLabel Text="Khác(tiền sử bệnh) " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenRadioButtonList @bind-Value=@OBS_0352 TValue="string" class="mb-5">
                <Items>
                    <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                    <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                </Items>
            </RadzenRadioButtonList>
            <br />
            <RadzenLabel Text="Số mũi tiêm phòng uống ván đã tiêm " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenNumeric @bind-Value=@OBS_0343 InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />

            <br />
            <br />
            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Chu kì kinh " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0356 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Đều" Value=@("Đều") />
                            <RadzenRadioButtonListItem Text="Không đều" Value=@("Không đều") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Thuốc đang dùng " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0353 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Tiền sử phẩu thuật " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0354 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>

            <br />
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Tiền sử sản khoa</RadzenText>
            <RadzenTextArea @bind-Value="OBS_0355" class="w-30" aria-label="TextArea" Style="width: 100%;" />



            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Bệnh di truyền " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0366 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Đái tháo đường " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0367 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Tăng huyết áp " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0368 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>

            <br />
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Khác </RadzenText>
            <RadzenTextArea @bind-Value="OBS_0369" class="w-30" aria-label="TextArea" Style="width: 100%;" />

        </RadzenTabsItem>


        <RadzenTabsItem Text="4.Khám lâm sàng và tình trạng thai nhi:" Class="custom-tabs-item">




            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Thời gian, nơi kết thúc thai ngén " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenDatePicker @bind-Value="@OBS_0345_01" DateFormat="MM/dd/yyyy" Name="DatePickerDateOnlyType" />
                </div>
                <div style="flex: 1;">
                    <RadzenFormField Text="Tuổi thai (sảy, sinh non, đủ tháng, già  tháng)" Style="width: 300px;">
                        <RadzenTextBox @bind-Value="@OBS_0345_02" />
                    </RadzenFormField>
                </div>
            </div>

            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenFormField Text="Diễn biến khi có thai " Style="width: 300px;">
                        <RadzenTextBox @bind-Value="@OBS_0345_03" />
                    </RadzenFormField>
                </div>
                <div style="flex: 1;">
                    <RadzenFormField Text="Cách thức sinh" Style="width: 300px;">
                        <RadzenTextBox @bind-Value="@OBS_0345_04" />
                    </RadzenFormField>
                </div>
            </div>


            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenFormField Text="Trẻ sơ sinh (cân nặng, bệnh tật)" Style="width: 300px;">
                        <RadzenTextBox @bind-Value="@OBS_0345_05" />
                    </RadzenFormField>
                </div>
                <div style="flex: 1;">
                    <RadzenFormField Text="Hậu sản" Style="width: 300px;">
                        <RadzenTextBox @bind-Value="@OBS_0345_06" />
                    </RadzenFormField>
                </div>
            </div>


            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Bệnh huyết áp " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0346 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>

                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Bệnh tuyến giáp " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0347 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Bệnh tim " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0348 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>

            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">

                    <RadzenLabel Text="Bệnh thận " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0349 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Bệnh hô hấp " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0350 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Đái tháo đường " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0351 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>

                </div>
            </div>


            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Tinh thần " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0370 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Tỉnh táo" Value=@("Tỉnh táo") />
                            <RadzenRadioButtonListItem Text="Hôn mê" Value=@("Hôn mê") />
                            <RadzenRadioButtonListItem Text="Khác" Value=@("Khác") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Phù " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0371 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>

                </div>

            </div>

            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Protein niệu " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0372 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>

                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Sẹo mổ cũ " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0373 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                            <RadzenRadioButtonListItem Text="Đau vết mổ" Value=@("Đau vết mổ") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>

            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <br />
                    <div>Chiều cao tử cung </div>
                    <RadzenNumeric @bind-Value=@OBS_0375 InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
                </div>
                <div style="flex: 1;">
                    <br />
                    <div>Vòng bụng </div>
                    <RadzenNumeric @bind-Value=@OBS_0376 InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
                </div>
            </div>
            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Khung chậu " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0374 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Bình thường" Value=@("Bình thường") />
                            <RadzenRadioButtonListItem Text="Bất thường" Value=@("Bất thường") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Ngôi thai " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0377 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Bình thường" Value=@("Bình thường") />
                            <RadzenRadioButtonListItem Text="Bất thường" Value=@("Bất thường") />
                        </Items>
                    </RadzenRadioButtonList>

                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Cơn co tử cung " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0378 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>

            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Tim thai " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0380 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">

                    <RadzenLabel Text="Cổ tử cung " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0381 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Đóng" Value=@("Đóng") />
                            <RadzenRadioButtonListItem Text="Xóa" Value=@("Xóa") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>


            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Đầu ối" Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0382 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Phồng" Value=@("Phồng") />
                            <RadzenRadioButtonListItem Text="Dẹt" Value=@("Dẹt") />
                            <RadzenRadioButtonListItem Text="Quả lê" Value=@("Quả lê") />
                            <RadzenRadioButtonListItem Text="Rỉ" Value=@("Rỉ") />
                            <RadzenRadioButtonListItem Text="Vỡ" Value=@("Vỡ") />
                        </Items>
                    </RadzenRadioButtonList>

                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Nước ối " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0383 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Trong" Value=@("Trong") />
                            <RadzenRadioButtonListItem Text="Xanh" Value=@("Xanh") />
                            <RadzenRadioButtonListItem Text="Lẫn máu" Value=@("Lẫn máu") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>

            </div>
        </RadzenTabsItem>


        <RadzenTabsItem Text="5.Xét nghiệm và khám nội soi:" Class="custom-tabs-item">
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Xét Nghiệm ngoại vi " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0384 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                            <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Xét nghiệm đông máu " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0385 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Bình thuờng" Value=@("Bình thường") />
                            <RadzenRadioButtonListItem Text="Bất thường" Value=@("Bất thường") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Xét nghiệm sinh hóa máu " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0386 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Bình thuờng" Value=@("Bình thường") />
                            <RadzenRadioButtonListItem Text="Cao" Value=@("Cao") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>



            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Xét nghiệm HIV " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0387 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Âm tính" Value=@("Âm tính") />
                            <RadzenRadioButtonListItem Text="Dương tính" Value=@("Dương tính") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Xét nghiệm viêm gan B " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0388 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Âm tính" Value=@("Âm tính") />
                            <RadzenRadioButtonListItem Text="Dương tính" Value=@("Dương tính") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Xét nghiệm giang mai " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0389 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Âm tính" Value=@("Âm tính") />
                            <RadzenRadioButtonListItem Text="Dương tính" Value=@("Dương tính") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>

            <br />
            <div style="display: flex; align-items: baseline;">
                <div style="flex: 1;">
                    <RadzenLabel Text="Xét nghiệm protein nước tiểu " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0390 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Âm tính" Value=@("Âm tính") />
                            <RadzenRadioButtonListItem Text="Dương tính" Value=@("Dương tính") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div style="flex: 1;">
                    <RadzenLabel Text="Siêu âm " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenRadioButtonList @bind-Value=@OBS_0391 TValue="string" class="mb-5">
                        <Items>
                            <RadzenRadioButtonListItem Text="Bình thuờng" Value=@("Bình thường") />
                            <RadzenRadioButtonListItem Text="Bất thường" Value=@("Bất thường") />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>

            <br />
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Khác(các xét nghiệm/cận lâm sàng)</RadzenText>
            <RadzenTextArea @bind-Value="OBS_0392" class="w-30" aria-label="TextArea" Style="width: 100%;" />

        </RadzenTabsItem>


        <RadzenTabsItem Text="6.Chuẩn đoán, điều trị và tư vấn:" Class="custom-tabs-item">
            <RadzenFormField Text="Chuẩn đoán " Style="width: 100%;">
                <RadzenTextBox @bind-Value="@OBS_0338" Style="width: 100%; max-width: none;" />
            </RadzenFormField>


            <br />
            <RadzenFormField Text="Xử trí" Style="width: 100%;">
                <RadzenTextBox @bind-Value="@OBS_0339" />
            </RadzenFormField>

            <br />
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Hướng điều trị tiếp theo</RadzenText>
            <RadzenTextArea @bind-Value="OBS_0393" class="w-30" aria-label="TextArea" Style="width: 100%;" />

            <RadzenLabel Text="Tư vấn/giáo dục sức khỏe cho người bệnh và thân nhân " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenRadioButtonList @bind-Value=@OBS_0394 TValue="string" class="mb-5">
                <Items>
                    <RadzenRadioButtonListItem Text="Có" Value=@("Có") />
                    <RadzenRadioButtonListItem Text="Không" Value=@("Không") />
                </Items>
            </RadzenRadioButtonList>

            <br />
            <RadzenLabel Text="Tiêu lượng " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenRadioButtonList @bind-Value=@OBS_0395 TValue="string" class="mb-5">
                <Items>
                    <RadzenRadioButtonListItem Text="Sinh thường" Value=@("Sinh thường") />
                    <RadzenRadioButtonListItem Text="Sinh có nguy cơ" Value=@("Sinh có nguy cơ") />
                    <RadzenRadioButtonListItem Text="Chỉ định mổ lấy thai" Value=@("Chỉ định mổ lấy thai") />
                </Items>
            </RadzenRadioButtonList>
        </RadzenTabsItem>


        <RadzenTabsItem Text="7.Thông tin khác:" Class="custom-tabs-item">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Lưu ý</RadzenText>
            <RadzenTextArea @bind-Value="OBS_0396" class="w-30" aria-label="TextArea" Style="width: 100%;" />

            <br />
            <RadzenLabel Text="Người khám " Component="DatePickerDateOnlyType" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenRadioButtonList @bind-Value=@OBS_0397 TValue="string" class="mb-5">
                <Items>
                    <RadzenRadioButtonListItem Text="Bác sĩ hộ sinh" Value=@("Bác sĩ hộ sinh") />
                    <RadzenRadioButtonListItem Text="Hộ sinh" Value=@("Hộ sinh") />
                    <RadzenRadioButtonListItem Text="Y sĩ sản nhi" Value=@("Y sĩ sản nhi") />
                    <RadzenRadioButtonListItem Text="Khác" Value=@("Khác") />
                </Items>
            </RadzenRadioButtonList>

            <br />
            <h1>Tiền sử sản Khoa (para)</h1>

            <br />
            <div>Số lần đẻ đủ tháng </div>
            <RadzenNumeric @bind-Value=@OBS_0398_01 InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />

            <br />
            <div>Số lần đã đẻ non </div>
            <RadzenNumeric @bind-Value=@OBS_0398_02 InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />

            <br />
            <div>Số lần xảy thai và phá thai </div>
            <RadzenNumeric @bind-Value=@OBS_0398_03 InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
        </RadzenTabsItem>


    </Tabs>

</RadzenTabs>



@code {
    int selectedIndex = 0;
    TabPosition tabPosition = TabPosition.Left;

    private string token = "FV0pJclr75laKx/PEkYYF4kZaGxwEfsxTh+W6IPBVJAvIcE1J0gE/BEEMt16hHzkJ1ouLds10mB+v+ou8w7q4Zp5GeHUFcJpResHiwCfmjLDS1TrMVaKl0NWgHac7VgiiAVmP0LdhFua7CPIDK6LJSkxI+IYs8VllLGUq78mPrvcReSAqG70q8zJJPYRpe9kwjsAfwUo6ijwa3of7IkIn1vr27021U5gNwamJIwHQyRz6WGmNCldw7WdlBWGvCcdOvtcoLHic/TQ2f/rr5sqxI8RrVaYAXUM/qILaxKwVUhstaoZFM4J39ldA/aEuyLhpn1Cknv300HFg8nPCDOHQg==";
    private string ApiPosrt = "http://14.241.182.251:59325/api/medical/visit";
    string OBS_0003 = "";
    string OBS_0004 = "";
    DateTime? OBS_0337 = DateTime.Now;
    string OBS_0338 = "";
    string OBS_0339 = "";
    DateTime? OBS_0340 = DateTime.Now;
    int OBS_0341;
    DateTime? OBS_0342 = DateTime.Now;
    int OBS_0343;
    string OBS_0344 = "";
    DateTime? OBS_0345_01 = DateTime.Now;
    string OBS_0345_02 = "";
    string OBS_0345_03 = "";
    string OBS_0345_04 = "";
    string OBS_0345_05 = "";
    string OBS_0345_06 = "";
    string OBS_0346 = "";
    string OBS_0347 = "";
    string OBS_0348 = "";
    string OBS_0349 = "";
    string OBS_0350 = "";
    string OBS_0351 = "";
    string OBS_0352 = "";
    string OBS_0353 = "";
    string OBS_0354 = "";
    string OBS_0355 = "";
    string OBS_0356 = "";
    string OBS_0357 = "";
    string OBS_0358 = "";
    string OBS_0359 = "";
    string OBS_0360 = "";
    string OBS_0361 = "";
    string OBS_0362 = "";
    string OBS_0363 = "";
    string OBS_0364 = "";
    string OBS_0365 = "";
    string OBS_0366 = "";
    string OBS_0367 = "";
    string OBS_0368 = "";
    string OBS_0369 = "";
    string OBS_0370 = "";
    string OBS_0371 = "";
    string OBS_0372 = "";
    string OBS_0373 = "";
    string OBS_0374 = "";
    int OBS_0375;
    int OBS_0376;
    string OBS_0377 = "";
    string OBS_0378 = "";
    string OBS_0380 = "";
    string OBS_0381 = "";
    string OBS_0382 = "";
    string OBS_0383 = "";
    string OBS_0384 = "";
    string OBS_0385 = "";
    string OBS_0386 = "";
    string OBS_0387 = "";
    string OBS_0388 = "";
    string OBS_0389 = "";
    string OBS_0390 = "";
    string OBS_0391 = "";
    string OBS_0392 = "";
    string OBS_0393 = "";
    string OBS_0394 = "";
    string OBS_0395 = "";
    string OBS_0396 = "";
    string OBS_0397 = "";
    int OBS_0398_01;
    int OBS_0398_02;
    int OBS_0398_03;
    int OBS_0399;
    TimeOnly OBS_0400 = TimeOnly.FromDateTime(DateTime.Now);


    private async Task SendDataAsync()
    {
        object[] value98 = new object[]
            {
            new { OBS_0398_01 = OBS_0398_01 },
            new { OBS_0398_02 = OBS_0398_02 },
            new { OBS_0398_03 = OBS_0398_03 },
            new { OBS_0398_04 = "" },

            };

        object[] value45 = new object[]
       {
            new { OBS_0345_01 = OBS_0345_01?.ToString("MM/dd/yyyy") },
            new { OBS_0345_02 = OBS_0345_02 },
            new { OBS_0345_03 = OBS_0345_03 },
            new { OBS_0345_04 = OBS_0345_04 },
            new { OBS_0345_05 = OBS_0345_05 },
            new { OBS_0345_06 = OBS_0345_06 },
       };

        var data = new
        {
            data = new
            {
                type = "OET_026",
                encounter = 24000465,
                subject = 23055134,
                request = 29647,
                doctor = 17071,
                items = new object[] {
                new { code = "OBS_0338", value = new [] { OBS_0338 } },
                new { code = "OBS_0003", value = new [] { OBS_0003 } },
                new { code = "OBS_0004", value = new [] { OBS_0004 } },
                new { code = "OBS_0337", value = new [] { OBS_0337?.ToString("dd/MM/yyyy h:mm tt") } },
                new { code = "OBS_0339", value = new [] { OBS_0339 } },
                new { code = "OBS_0340", value = new [] { OBS_0340?.ToString("dd/MM/yyyy") } },
                new { code = "OBS_0341", value = new [] { OBS_0341 } },
                new { code = "OBS_0342", value = new [] { OBS_0342?.ToString("dd/MM/yyyy") } },
                new { code = "OBS_0343", value = new [] { OBS_0343 } },
                new { code = "OBS_0344", value = new [] { OBS_0344 } },
                new { code = "OBS_0345", value = value45 },
                new { code = "OBS_0346", value = new [] { OBS_0346 } },
                new { code = "OBS_0347", value = new [] { OBS_0347 } },
                new { code = "OBS_0348", value = new [] { OBS_0348 } },
                new { code = "OBS_0349", value = new [] { OBS_0349 } },
                new { code = "OBS_0350", value = new [] { OBS_0350 } },
                new { code = "OBS_0351", value = new [] { OBS_0351 } },
                new { code = "OBS_0352", value = new [] { OBS_0352 } },
                new { code = "OBS_0353", value = new [] { OBS_0353 } },
                new { code = "OBS_0354", value = new [] { OBS_0354 } },
                new { code = "OBS_0355", value = new [] { OBS_0355 } },
                new { code = "OBS_0356", value = new [] { OBS_0356 } },
                new { code = "OBS_0357", value = new [] { OBS_0357 } },
                new { code = "OBS_0358", value = new [] { OBS_0358 } },
                new { code = "OBS_0359", value = new [] { OBS_0359 } },
                new { code = "OBS_0360", value = new [] { OBS_0360 } },
                new { code = "OBS_0361", value = new [] { OBS_0361 } },
                new { code = "OBS_0362", value = new [] { OBS_0362 } },
                new { code = "OBS_0363", value = new [] { OBS_0363 } },
                new { code = "OBS_0364", value = new [] { OBS_0364 } },
                new { code = "OBS_0365", value = new [] { OBS_0365 } },
                new { code = "OBS_0366", value = new [] { OBS_0366 } },
                new { code = "OBS_0367", value = new [] { OBS_0367 } },
                new { code = "OBS_0368", value = new [] { OBS_0368 } },
                new { code = "OBS_0369", value = new [] { OBS_0369 } },
                new { code = "OBS_0370", value = new [] { OBS_0370 } },
                new { code = "OBS_0371", value = new [] { OBS_0371 } },
                new { code = "OBS_0372", value = new [] { OBS_0372 } },
                new { code = "OBS_0373", value = new [] { OBS_0373 } },
                new { code = "OBS_0374", value = new [] { OBS_0374 } },
                new { code = "OBS_0375", value = new [] { OBS_0375 } },
                new { code = "OBS_0376", value = new [] { OBS_0376 } },
                new { code = "OBS_0377", value = new [] { OBS_0377 } },
                new { code = "OBS_0378", value = new [] { OBS_0378 } },
                new { code = "OBS_0380", value = new [] { OBS_0380 } },
                new { code = "OBS_0381", value = new [] { OBS_0381 } },
                new { code = "OBS_0382", value = new [] { OBS_0382 } },
                new { code = "OBS_0383", value = new [] { OBS_0383 } },
                new { code = "OBS_0384", value = new [] { OBS_0384 } },
                new { code = "OBS_0385", value = new [] { OBS_0385 } },
                new { code = "OBS_0386", value = new [] { OBS_0386 } },
                new { code = "OBS_0387", value = new [] { OBS_0387 } },
                new { code = "OBS_0388", value = new [] { OBS_0388 } },
                new { code = "OBS_0389", value = new [] { OBS_0389 } },
                new { code = "OBS_0390", value = new [] { OBS_0390 } },
                new { code = "OBS_0391", value = new [] { OBS_0391 } },
                new { code = "OBS_0392", value = new [] { OBS_0392 } },
                new { code = "OBS_0393", value = new [] { OBS_0393 } },
                new { code = "OBS_0394", value = new [] { OBS_0394 } },
                new { code = "OBS_0395", value = new [] { OBS_0395 } },
                new { code = "OBS_0396", value = new [] { OBS_0396 } },
                new { code = "OBS_0397", value = new [] { OBS_0397 } },
                new { code = "OBS_0398", value = value98 },
                new { code = "OBS_0399", value = new [] { OBS_0399 } },
                new { code = "OBS_0400", value = new [] { OBS_0400 } },
    }
            },
            token = token,
            ip = "192:168:1:9",
            code = "c9ccdc6f-898c-44b3-83bb-ccad9159eb0f"
        };

        var response = await HttpClient.PostAsJsonAsync(ApiPosrt, data);
        response.EnsureSuccessStatusCode();

        NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Thêm phiếu thành công",
                Detail = "Phiếu đã được thêm thành công"
            });

        Navigation.NavigateTo("/");
    }

}

